<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <span class="h1"><%= page.title %></span>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
